matplotlib~=3.6.2
numpy~=1.23.5
Pillow==10.2.0
torchsummary~=1.5.1
scipy~=1.10.0
tqdm~=4.64.1
requests~=2.31.0
perlin_noise

--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.2.1+cu118
